{{!-- 使用flash所傳入的參數error進行顯示訊息的操作 --}}
{{#if error}}
<div>{{error}}</div>
{{/if}}
{{!-- 使用flash所傳入的參數message進行顯示訊息的操作 --}}
{{#if message}}
<div>{{message}}</div>
{{/if}}
<a href="/todos/new">Create</a>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" disabled {{#if this.isComplete}} checked {{/if}}>
    {{this.name}}
    <a href="/todos/{{this.id}}">detail</a>
    <a href="/todos/{{this.id}}/edit">edit</a>
    <form action="/todos/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>